Serving large files

- [x] Send files without reading them into a buffer
- [x] Support `sendfile` system call
- [ ] Support HTTP range requests [RFC 9110 § 14](https://www.rfc-editor.org/rfc/rfc9110#section-14)
- [x] Conditionally disable ETag generation or use weak ETag on very large files (above 100G)